.navbar {
    background-color: #bbffbb;
}

.navbar-brand {
    font-size: 2em;
    font-weight: bold;
}

.slogan {
    color: #777777;
    padding: 20px;
    font-weight: 600;
}

.training-title {
    text-align: center;
}

.training-image {
    display: block;
    margin: auto;
}

.error-title {
    text-align: center;
}

.answer-container {
    padding: 20px;
}

.login-form-container {
    margin: auto;
    width: 50vw;
}

.login-form-title img {
    margin-right: 15px;
}
