{% extends "base.html" %}

{% block title %}Красная планета{% endblock %}

{% block content %}
<div class="galery-container">
    <h1 class="galery-title">Пейзажи Марса</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for filename in images %}
                <button type="button" class="{{ 'active' if loop.first else '' }}" aria-current="{{ 'true' if loop.first else '' }}" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index }}" aria-label="Slide {{ loop.index }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for filename in images %}
                <div class="carousel-item {{ 'active' if loop.first else '' }}">
                    <img src="{{ filename }}" class="d-block">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.image.label }}<br>
        {{ form.image(class="form-control", type="file") }}<br>
        {% for error in form.image.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
</div>
{% endblock %}
